<div class="container">
	<h2 class="head-line text-center">マイページ</h2>
	  <div class="col-md-3">
	  	<%= render 'customer/customers/user', customer: @customer%>
		</div>
	  <div class="row">
		  <div class="col-md-6 offset-md-5">
			  <table class="table table-bordered table-condensed" >
				  <tbody>
					  <tr>
						  <td class="info col-xs-2">名前</td>
						  <td class="text-left"><%= @customer.name %>さん</td>
					  </tr>
					  <tr>
						  <td class="info">年代</td>
						  <td class="text-left"><%= @customer.age %></td>
					  </tr>
					  <tr>
						  <td class="info">肌質</td>
						  <td class="text-left"><%= @customer.skin %></td>
					  </tr>
					  <tr>
						  <td class="info">メールアドレス</td>
						  <td class="text-left"><%= @customer.email %></td>
						  <%= link_to " 編集する", edit_customer_path, class: "glyphicon glyphicon-pencil btn btn-success" %></p>
					  </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>  
 