<div class="container">
	<h2 class="head-line text-center">レビューの投稿</h2>
	  <div class="text-center" style="margin: 50px 0 0 0;">
    <%#= form_with (model:[@item,@post], local: true) do |f| %>
    <%= form_with(model: [@item, @post], local: true) do |f| %>
          <div class="form-group">
            <%= f.label :image, "画像を追加" %>
            <%= f.attachment_field :image %>
          </div>
          <div class="form-group">
            <%= f.label :review, "レビュー" %>
            <%= f.text_field :review, size: "35" %>
          </div>

          <!--評価機能はjavascript-->
          <div id="rating-form">
            <label>評価：</label>
            <%= f.hidden_field :rate, id: :review_star %>
            <!--rateを使うときはhiddenを使う決まり-->
            <script>
             $('#rating-form').raty({
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                scoreName: 'post[rate]'   // 登録するモデル名［カラム名］
             });
            </script>
          </div>
          <%= f.submit "投稿", class:"btn btn-secondary" %>
        <% end %>
  </div>
</div>