<!DOCTYPE html>
<html>
  <head>
    <title>Look</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


   
   
  <body>
    <header class="navbar navbar-expand-lg navbar-light bg-light" >
      <div class="container-fluid" >
        <a class="navbar-brand" href="#">Look</a>
      </div>
    </header>    
    <%= yield %>
  </body>
</html>
